<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!--    <type name="Magento\Company\Api\CompanyRepositoryInterface">-->
<!--        <plugin name="SalesRepresentative" type="WAVN\FixCompany\Model\Plugin\SalesRepresentative" sortOrder="100"/>-->
<!--    </type>-->
</config>
