<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Voloshkov_News::main" title="News (Main)" translate="title" sortOrder="2000">
                    <resource id="Voloshkov_News::index" title="Index Access" translate="title" sortOrder="0">
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
